.catalogContainer {
    display: flex;
    flex-wrap: wrap;
    row-gap: 1rem;
    /* gap: 1rem; */
    width: 100%;
    padding-top: 1rem;
    justify-content: space-around;
}

.catalog__item {
    display: flex;
    flex-flow: row nowrap;
    /* width: 22%; */
    width: 450px;
    position: relative;
    transition: all ease-in-out 0.3s;
    cursor: pointer;
}

.catalog__item__img {
    /* height: 430px; */
    display: flex;
    flex: 3 1 0;
    flex-flow: column nowrap;
    background-color: beige;
    overflow: hidden;
    /* overflow-y: hidden; */
    position: relative;
    background-color: black;
}

.catalog__item__img > img {
    /* width: 100%; */
    transition: all ease-in 0.2s;
}

.catalog__item:hover .catalog__item__img > img {
    opacity: 0.3;
    transform: scale(1.1);
}

.catalog__item:hover .catalog__item__resume {
    opacity: 1;
}

.catalog__item__info {
    display: flex;
    flex: 2 1 0;
    justify-content: space-between;
    flex-flow: column nowrap;
    align-items: flex-start;
    padding: 1rem;
    background-color: #f5cb5c;
    color: #242423;
}

.catalog__item__footer__name {
    font-weight: bold;
    font-size: 1rem;
}

.catalog__item__footer__rating {
    font-weight: bold;
    padding: 5px 10px;
    background-color: #343533;
    color: #f5cc5b;
    border-radius: 10px;
}

.tags {
    word-break: break-all;
}
